.active {
  outline: 4px solid black;
}

.tabsContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tabsContainer2 {
  display: flex;
  gap: 2em;
}

@media screen and (width < 400px) {
  .tabsContainer2 {
    flex-direction: column;
  }

  button {
    width: 200px;
  }
}
